{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>

    

    {% block 'main' %}
    <h1>Add Book Section</h1>
    <hr>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <th>Book name:</th>
                <td><input type="text" name="bname"></td>
            </tr>
            <tr>
                <th>category:</th>
                <td>
                    <select name="cat" id="">
                        <option value="1">Fantacy</option>
                        <option value="2">Adventure</option>
                        <option value="3">Historical</option>
                        <option value="4">Horror</option>
                        <option value="5">Triller</option>


                    </select>
                </td>
            </tr>
            <tr>
                <th>Author:</th>
                <td><input type="text" name="author"></td>


            </tr>
            <tr>
                <th>Price:</th>
                <td><input type="number" name="amt"></td>



            </tr>
            <tr>
                <th>Status:</th>
                <td><input type="radio" name="status" value="1">available</td>
                <td><input type="radio" name="status" value="0">not-available</td>
            </tr>
            <tr>
                <td><button type="submit">Save</button></td>
            </tr>





        </table>


    </form>
    {% endblock 'main' %}
</body>
</html>